@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to my reddit copy. To have full functionality please log in :)
<br/>
Click the top right button to get started!
<SurveyPrompt Title="How is Blazor working for you?"/>